* {
    margin : 0px;
    padding: 0px;
    font-family: Consolas;
}

#container {
    width : 100%;
    height: 100%;
}

#header {
    width: 100%;
    height: 64px;
    background: darkgoldenrod;
}
#content {
    width: 100%;
    height: calc(100% - 96px);
    padding-top: 32px;
}
#header h1 {
    padding-left: 32px;
    line-height : 60px;
}
#left {
    width        : calc(50% - 64px);
    height       : 100%;
    float        : left;
    padding-right: 32px;
    padding-left : 32px;
}
#right {
    width : calc(50% - 32px);
    height: 100%;
    float : left;
    padding-right: 32px;
}
/* -------------------------------
TODOS
--------------------------------*/
.todos {
    width  : 100%;
    height : 100%;
}
.todos .header {
    height: 32px;
    width : 100%;
}
.todos .content {
    width : 100%;
    height: calc(100% - 32px);
}
.todos .controls {
    width  : 100%;
    height : 32px;
}
.todos .controls input[type=text] {
    width    : calc(100% - 140px);
    height   : 32px;
    float    : left;
    font-size: 1.2em;
}
.todos .controls input[type=button] {
    width     : 40px;
    height    : 32px;
    float     : left;
    font-size : 1.2em;
} 
.todos .list {
    width: 100%;
    height: 100%;
}
.todos .list ul {
    width: 100%;
}
.todos .list ul li {
    list-style-type : none;
    height          : 32px;
    line-height     : 32px;
}

/*------------------------------
INSPECT
-------------------------------*/
.inspect {
    width : 100%;
    height: 100%;
}

.inspect .header {
    width  : 100%;
    height : 32px;
}

.inspect .content {
    width: 100%;
    height: calc(100% - 32px);
}
.inspect .content ul {
    list-style-type: none;
}
.inspect .content ul li ul {
    padding-left: 16px;
}